<main class="main-wrap">
	<header class="main-header navbar">

		<div class="col-nav">
			<ul class="nav">

				<li class="nav-item">
					<a class="nav-link btn-icon" href="/admin/logout">Logout</i> </a>
				</li>
			</ul>
		</div>
	</header>

	<section class="content-main" style="max-width: 720px">

		<div class="content-header">
			<h2 class="content-title">Create product </h2>
			<div>
				<a href="#" class="btn btn-outline-danger"> &times; Discard</a>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-body">
				<form action="/admin/addproduct" enctype="multipart/form-data" method="POST">
					<div class="mb-4">
						<label for="product_name" class="form-label">Product title</label>
						<input type="text" name="title" placeholder="Type here" class="form-control" id="product_name" required>
					</div>

					<div class="mb-4">
						<label class="form-label">Full description</label>
						<textarea placeholder="Type here" name="description" class="form-control" rows="4" required></textarea>
					</div>

					<div class="mb-4">
						<label class="form-label">Images 1</label>
						<input class="form-control" name="image" type="file" id="imgInp" required>
						<img id="blah" alt="your image" width="50" height="auto" style=" display: none; margin-top: 5px;" />
					</div>

					<div class="mb-4">
						<label class="form-label">Images 2</label>
						<input class="form-control" name="image2" type="file" id="imgInp2" required>
						<img id="blah2" alt="your image" width="50" height="auto" style=" display: none; margin-top: 5px;" />
					</div>
					<div class="mb-4">
						<label class="form-label">Images 3</label>
						<input class="form-control" name="image3" type="file" id="imgInp3" required>
						<img id="blah3" alt="your image" width="50" height="auto" style=" display: none; margin-top: 5px;" />
					</div>
					<div class="mb-4">
						<label class="form-label">Images 4</label>
						<input class="form-control" name="image4" type="file" id="imgInp4" required>
						<img id="blah4" alt="your image" width="50" height="auto" style=" display: none; margin-top: 5px;" />
					</div>

					<div class="mb-4">
						<label for="product_name" class="form-label">Status</label>
						<input type="text" name="status" class="form-control" required>
					</div>

					<div class="row gx-2">
						<div class="col-sm-6 mb-3">
							<label class="form-label">Category</label>
							<select class="form-select" name="category" id="category" required>
								<option value="">--Select a Category--</option>

								{{#each categories}}
								<option>{{this.category}}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-6 mb-3">
							<label class="form-label">Sub-category</label>
							<select class="form-select" name="subCategory" id="subCategory" required>
								<option value="">--select category first--</option>
							</select>

						</div>
					</div> <!-- row.// -->


					<div class="mb-4">
						<label class="form-label">Price</label>
						<div class="row gx-2">
							<div class="col-4">
								<input placeholder="Price" name="price" type="text" class="form-control" required>
							</div>

						</div> <!-- row.// -->
					</div>



					<button class="btn btn-primary">Submit item</button>

				</form>
			</div>
		</div> <!-- card end// -->


	</section> <!-- content-main end// -->
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
	$('#category').on('change', function () {
		var data = this.value;
		if (data) {
			$.ajax({
				url: `/admin/subCategory/${data}`,
				method: "get",
				success: (res) => {
					$("#subCategory").empty()
					res.map(value => {
						$("#subCategory").append(`<option value="${value}">${value}</option>`);
					})
				}
			})
		}
		else {
			$("#subCategory").empty()
			$("#subCategory").append(`<option value="">--select category first--</option>`);

		}


	});
</script>
<script>
	imgInp.onchange = evt => {
		const [file] = imgInp.files
		if (file) {
			blah.src = URL.createObjectURL(file)
			blah.style.display = "block";
		}
	},
	imgInp2.onchange = evt => {
		const [file2] = imgInp2.files
		if (file2) {
			blah2.src = URL.createObjectURL(file2)
			blah2.style.display = "block";
		}
	},
	imgInp3.onchange = evt => {
		const [file3] = imgInp3.files
		if (file3) {
			blah3.src = URL.createObjectURL(file3)
			blah3.style.display = "block";
		}
	},
	imgInp4.onchange = evt => {
		const [file4] = imgInp4.files
		if (file4) {
			blah4.src = URL.createObjectURL(file4)
			blah4.style.display = "block";
		}
	}
</script>