<b class="screen-overlay"></b>

<aside class="navbar-aside" id="offcanvas_aside">
<div class="aside-top">
  <a href="/admin/home" class="brand-wrap">
    <img src="/assets/images/logo/logo.png" height="46" class="logo" alt="dashboard ">
  </a>
  <div>
    <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
  </div>
</div> <!-- aside-top.// -->

<nav>
  <ul class="menu-aside">
    <li class="menu-item active"> 
      <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i> 
        <span class="text">Dashboard</span> 
      </a> 
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>  
        <span class="text">Products</span> 
      </a> 
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>  
        <span class="text">Category</span> 
      </a> 
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i> 
        <span class="text">Orders</span> 
      </a>
      <div class="submenu">
        <a href="page-orders-1.html">Order list </a>
      </div> 
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">Add product</span> 
      </a> 
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/users/"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">User Management</span> 
      </a>
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="#"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">Offers</span> 
      </a>
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="#"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">Sales Report</span> 
      </a>
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/add-banner/"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">Add Banner</span> 
      </a>
    </li>
    <li class="menu-item has-submenu"> 
      <a class="menu-link" href="/admin/companies"> <i class="icon material-icons md-add_box"></i>  
        <span class="text">Companeis</span> 
      </a>
    </li>
  </ul>
  <hr>
  
  <br>
  <br>
</nav>
</aside>
